.error{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: #240a80a2;
}
.e1{
   position: fixed;
    overflow: hidden;
    width: 30rem;
  max-width: 100%;
  margin: 3rem auto;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
 
 text-align: center;
 background: #ffffff;
 
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
 z-index: 100;
}
.buttons{
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
  }
  